{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% include ":inbox:send_form.html.twig" %}
        </div>
    </div>

    <h1>{{ app.user.email }}</h1>

    {% for msg in app.user.messages %}
    <div class="row">
        <div class="col-md-8 {% if msg.src == app.user.mobile %}pull-right{% endif %}">
            <div class="alert alert-{% if msg.state == 0 %}error{% elseif msg.src == app.user.mobile %}info{% else %}success{% endif %}" role="alert">
                <strong>{{ msg.dst }}</strong> {{ msg.message }}
                <span class="pull-right glyphicon {% if msg.state == 1 %}glyphicon-refresh{% elseif msg.state == 2 %}glyphicon-ok{% else %}glyphicon-remove{% endif %}"  aria-hidden="true">
                </span>
            </div>
        </div>
    </div>
    {% endfor %}


    <div class="row">
        <div class=" col-md-12">
        <a href="{{ logout_path('main') }}" class="btn btn-warning pull-right">Logout</a>
        </div>
    </div>
{% endblock %}