<form class="form-horizontal" method="post" action="{{ path('send_message') }}">
    <fieldset>

        <!-- Form Name -->
        <legend>Form Name</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-5 control-label" for="dst">To</label>

            <div class="col-md-7">
                <input id="dst" name="dst" type="text" placeholder="14433083260" class="form-control input-md"
                       required="">

            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-5 control-label" for="message">Message</label>

            <div class="col-md-7">
                <textarea class="form-control" id="message" name="message"></textarea>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-5 control-label" for=""></label>

            <div class="col-md-7">
                <input type="submit" class="btn btn-primary" value="Send">
            </div>
        </div>

    </fieldset>
</form>