{% extends 'base.html.twig' %}

{% block body %}
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" method="post" action="{{ path('login_check') }}">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Login</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="email">Email</label>
                        <div class="col-md-8">
                            <input id="email" name="email" type="text" placeholder="email@email.com" class="form-control input-md" required="">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <!-- Password input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="password">Password</label>
                        <div class="col-md-8">
                            <input id="password" name="password" type="password" placeholder="password" class="form-control input-md" required="">

                        </div>
                    </div>


                    <!-- Button (Double) -->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for=""></label>
                      <div class="col-md-8">
                        <input type="submit" id="" name="" class="btn btn-success" value="Login">
                        <a href="{{ path("register") }}" class="btn btn-default">Register</a>
                      </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}