{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-offset-3 col-md-6">
        <form class="form-horizontal" method="post" action="{{ path('register') }}">
            <fieldset>

                <!-- Form Name -->
                <legend>Register</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email">Email</label>

                    <div class="col-md-8">
                        <input id="email" name="email" type="text" placeholder="email@email.com"
                               class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Password input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="password">Password</label>

                    <div class="col-md-8">
                        <input id="password" name="password" type="password" placeholder="password"
                               class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="mobile">Mobile</label>

                    <div class="col-md-8">
                        <input id="mobile" name="mobile" type="number" placeholder="Plivo phone number"
                               class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="auth_id">Auth ID</label>

                    <div class="col-md-8">
                        <input id="auth_id" name="auth_id" type="text" placeholder="Plivo Auth ID"
                               class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="auth_token">Auth token</label>

                    <div class="col-md-8">
                        <input id="auth_token" name="auth_token" type="text" placeholder="Plivo Auth Token"
                               class="form-control input-md" required="">

                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for=""></label>

                    <div class="col-md-8">
                        <input type="submit" class="btn btn-success" value="Register">
                        <a href="{{ path('login') }}" class="btn btn-default">Tilbake</a>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
{% endblock %}